.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
  margin: auto;
  margin-top:50px;
  background-color:#73AD21;
}

.box {
  border-radius: 7px;
  border: 3px #000 solid; /* Shows the lines in the CSS grid */
  font: normal 32px Arial, Helvetica, sans-serif;
  text-align:center;
}

.box:hover{
	background-color:#333;
}